name: Nakis Dosyasi Üretici

on:
  push:
    branches: [ main ]
  workflow_dispatch: # Manuel çalıştırmak için buton ekler

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Çek
        uses: actions/checkout@v4

      - name: Python Kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Kütüphaneyi Yükle
        run: pip install pyembroidery

      - name: DST Dosyasını Oluştur
        run: python create_embroidery.py

      - name: DST Dosyasını İndirilebilir Yap
        uses: actions/upload-artifact@v4
        with:
          name: nakis-tasarimi
          path: pivaz_13x8.dst
