name: Janome MB4 Profesyonel Serisi

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Hazirla
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Pyembroidery Kur
        run: pip install pyembroidery

      - name: Hatasiz Nakis Uret
        run: python create_pivaz.py

      - name: Dosyalari Yukle
        uses: actions/upload-artifact@v4
        with:
          name: JANOME_MB4_FINAL_PAKET
          path: |
            pivaz_mb4_final.dst
            pivaz_mb4_final.jef
