name: Nakis Tasarim Paneli

on:
  workflow_dispatch:
    inputs:
      metin:
        description: 'Yazılacak Metin'
        required: true
        default: 'PIVAZ'
      genislik:
        description: 'Genişlik (mm)'
        required: true
        default: '120'
      yukseklik:
        description: 'Yükseklik (mm)'
        required: true
        default: '70'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install pyembroidery
      - name: Nakis Uret
        run: python create_pivaz.py "${{ github.event.inputs.metin }}" ${{ github.event.inputs.genislik }} ${{ github.event.inputs.yukseklik }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.metin }}_NAKIS
          path: |
            pivaz_ozel.dst
            pivaz_ozel.jef
