name: Janome MB4 Modern Uretim
on: [push, workflow_dispatch]

jobs:
  nakis_render:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Ortamini Kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Kutuphaneleri Yukle
        run: |
          pip install --upgrade pip
          pip install pyembroidery

      - name: Tasarimi Olustur
        run: python main.py

      - name: Dosyalari Paketle
        uses: actions/upload-artifact@v4
        with:
          name: URETIM_DOSYALARI
          path: |
            *.dst
            *.jef
