name: Nakis ve Onizleme Fabrikasi

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Depoyu Kopyala
        uses: actions/checkout@v4

      - name: Python 3.10 Kur
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Kütüphaneleri Yukle
        run: pip install pyembroidery pillow

      - name: Uretimi Baslat
        run: python create_pivaz.py

      - name: Dosyalari Paketli Olarak Sun
        uses: actions/upload-artifact@v4
        with:
          name: PIVAZ_CIKTILARI
          path: |
            pivaz_13x8.dst
            onizleme.png
