name: Janome MB4 Tam Uretim

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install pyembroidery pillow

      - name: Generate files
        run: python create_pivaz.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: PIVAZ_MB4_DOSYALARI
          path: |
            pivaz_mb4.dst
            pivaz_mb4.jef
            onizleme.png
