name: Janome MB4 Uretim

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4

      - name: Python Hazirla
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Kütüphane Kur
        run: pip install pyembroidery

      - name: Dosyalari Uret
        run: python create_pivaz.py

      - name: Dosyalari Yukle
        uses: actions/upload-artifact@v4
        with:
          name: JANOME_MB4_FINAL
          path: |
            pivaz_cikti.dst
            pivaz_cikti.jef
